@font-face {
    font-family: staatliches;
    src: url("../fonts/Staatliches/Staatliches-Regular.ttf")
}
@font-face {
    font-family: manrope;
    src: url("../fonts/Manrope/Manrope-SemiBold.ttf");
}