@import "fonts.css";
@import "start_style.css";
@import "components/header.css";
@import "components/header_content.css";
@import "components/content.css";
@import "components/footer.css";
@import "components/cta-box.css";

.body{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    background-image: url("../../img/Vector_12312.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.img-sexangle_2 {
    position: absolute;
    top: 650px;
    left: 0px;
}

.img-sexangle_1{
    position: absolute;
    top: 80px;
    left: 0px;
}

.img-sexangle_3{
    position: absolute;
    top: 2710px;
    right: 0px;
}
