.CTA {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #3734a9;
  gap: 235px;
  height: 450px;
  position: relative;
  margin-top: 100px;
}

.CTA__text--why {
  font-family: manrope-bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding-bottom: 15px;
}

.CTA__text--bold {
  font-family: manrope-Extra-bold;
  font-size: 50px;
  line-height: 60px;
  color: white;
  padding-bottom: 30px;
}

.CTA__text--medium {
  font-family: manrope-semibold;
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-bottom: 75px;
}

.register__input-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-password-2,
.input-email-2 {
  width: 356px;
  height: 60px;
  border-radius: 5px;
  background-color: #f2f3f4;
  border: 1px solid #dfe4f1;
  opacity: 0.2;
  padding-left: 21px;
}

.input-email-2::placeholder {
  font-family: manrope-medium;
  letter-spacing: -0.02em;
  color: #bbb5e0;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.4;
}

.input-password-2::placeholder {
  font-family: manrope-medium;
  letter-spacing: -0.02em;
  color: #bbb5e0;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.4;
}

.button-submit-2 {
  margin-bottom: 75px;
  height: 60px;
  background: #ff7f5c;
  border-radius: 5px;
  font-family: manrope-bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}

.Polygon_8 {
  position: absolute;
  top: -109px;
  right: 0px;
}

.Polygon_9 {
  position: absolute;
  top: 235px;
  left: 275px;
}

.Polygon_10 {
  position: absolute;
  top: 12px;
  left: 900px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 123px;
}

.AR {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer__text--bold {
  font-family: manrope-bold;
  font-size: 21px;
  line-height: 28px;
  color: #1b1c31;
  padding-bottom: 24px;
}

.AR__text {
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 28px;
  color: #757095;
  padding-bottom: 31px;
}

.AR__icon {
  display: flex;
  gap: 16px;
}

.company {
  display: flex;
  flex-direction: column;
  margin-right: 137px;
}

.footer__text--medium {
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 24px;
  color: #181433;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.resources {
  display: flex;
  flex-direction: column;
  margin-right: 87px;
}

.join {
  display: flex;
  flex-direction: column;
}

.link__email {
  padding-bottom: 21px;
  margin-right: 0px;
  width: 389px;
}

.join__email {
  width: 250px;
  height: 52px;
  background: #f9f9f9;
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 26px;
  color: #181433;
  padding-left: 15px;
}

.join__submit {
  width: 120px;
  height: 52px;
  background-color: #3734a9;
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  position: absolute;
}

.AR__text-2 {
  color: #181433;
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 130px;
  margin-top: 60px;
}

.line-3 {
  width: 1140px;
  background-color: #e5e5ea;
  height: 2px;
}

.copyrights__text {
  padding-top: 40px;
  color: #181433;
  font-family: manrope-medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

/*# sourceMappingURL=footer.css.map */
