@import "../vars";

.header {
  padding: 34px 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.logo {
  font-family: staatliches;
  font-size: 20px;
  line-height: 24px;
}

@import "menu-burger";

@media screen and (max-width: $resolution-laptop - 0.01px) {
  .header {
    padding: 34px;
    background-color: #fff;
  }
}
