
.header{
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
    height: 100%;
}
.container__logo{
}
.logo__text{
    font-family: staatliches;
    font-size: 20px;
    line-height: 24px;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__select{
    display: flex;
    align-items: center;
    margin-right: 0px;
    width: 100%;
}


.arrow_header{
    margin-left: 0px;
}

.nav__select{
    margin-right: 12px;
}

.nav__select2{
    width: 65%;
}

.nav__select1{
    width: 55%;
}

.nav__select,
.nav__button {
    font-family: manrope-semibold;
    border: none;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    background: none;
    appearance: none;
}
.container__button{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.button__text--semibold {
    font-family: manrope-semibold;
    font-size: 14px;
    line-height: 19px;
}
.button__start-free{
    width: 137px;
    height: 52px;
    background-color: #4F46BA;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: white;
    cursor: pointer;
    font-family: manrope-semibold;
}

.header__content{
    padding-top: 130px;
}
.container__register{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register__text--big h1{
    font-family: manrope-Extra-bold;
    font-size: 60px;
    line-height: 74px;
    color: #000000;
    letter-spacing: -0.03em;
}

.register__text--small{
    font-family: manrope-medium;
    font-size: 20px;
    line-height: 30px;
    color: #64607D;
    padding-top: 20px;
}

.input__our-process{
    padding-top: 47px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.button__our-process{
    width: 162px;
    height: 60px;
    font-family: manrope-semibold;
    font-size: 16px;
    line-height: 30px;
    border-radius: 47px;
    background-color: #3734A9;
    color: white;
    cursor: pointer;
}

.elipse-button-play{
    width: 60px;
    height: 60px;
    border-radius: 47px;
    background-color: #22D497;
    cursor: pointer;
    position: relative;
}

.button-play{
    position: absolute;
    top: 35%;
    left: 40%;
}

.input-play{
    display: flex;
    align-items: center;
}
