
.header{
    width: 100vw;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
    height: 100%;
}
.container__logo{
}
.logo__text{
    font-family: staatliches;
    font-size: 23px;
    line-height: 24px;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav__select,
.nav__button {
    font-family: manrope-semibold;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.container__button{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.button__text--semibold {
    font-family: manrope-semibold;
    font-size: 14px;
    line-height: 19px;
}
.button__start-free{
    width: 137px;
    height: 52px;
    background-color: #4F46BA;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}

.header__content{
    padding-top: 130px;
}
.container__register{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register__text--big{
    font-family: manrope-Extra-bold;
    font-size: 45px;
    line-height: 120px;
    color: #000000;
}

.register__text--small{
    font-family: manrope-medium;
    font-size: 20px;
    line-height: 30px;
    color: #64607D;
    padding-top: 20px;
}

.input__our-process{
    padding-top: 47px;
    display: flex;
    gap: 50px;

}

.button__our-process{
    width: 162px;
    height: 60px;
    font-family: manrope-semibold;
    font-size: 16px;
    line-height: 30px;
    border-radius: 47px;
    background-color: #3734A9;
    color: white;
    cursor: pointer;
}

.button-play{
    width: 60px;
    height: 60px;
    border-radius: 47px;
    background-color: #22D497;
    cursor: pointer;

}
